<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" additivity="false">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern><![CDATA[%d{HH:mm:ss.SSS} %-5level T:[%thread] %logger{30} - %msg%n]]></pattern>
		</encoder>
	</appender>

	<logger name="org.springframework">
		<level value="INFO" />
	</logger>

	<logger name="org.cucina.email">
		<level value="DEBUG" />
	</logger>

	<root level="${log.level.root:-WARN}">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
